---
pagination:
  data: categories
  size: 1
  alias: cat
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: tag.njk
eleventyComputed:
  title: "{{ cat }}"
  fullTitle: "{{ cat }} at {{ siteInfo.title }}"
  category: "{{ cat }}"
showStars: true
showDescriptions: true
permalink: /{{ cat | slugify }}/
ogType: "website"
schemaType: "CollectionsPage"
---

{% set postslist = collections[ cat | slugify ] %}
{% include "postslist.njk" %}

