---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "layout": ""
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ siteInfo.title }}</title>
  {% if siteInfo.subtitle %}<subtitle>{{ siteInfo.subtitle }}</subtitle>{% endif %}
  <link href="{{ siteInfo.url }}feed.xml" rel="self"/>
  <link href="{{ siteInfo.url }}"/>
  <icon>{{ siteInfo.url }}{{ siteInfo.icon}}</icon>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ siteInfo.url }}</id>
  <author>
    <name>{{ authors[siteInfo.author].name }}</name>
    <email>{{ authors[siteInfo.author].email }}</email>
    <uri>{{ authors[siteInfo.author].url }}</uri>
  </author>
  {%- for post in collections.posts | reverse | head(10) %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(siteInfo.url) }}{% endset %}
  {% set byline %}<footer>This post by {% authorCard pageInfo.author %} originally appeared <a class="u-url" href="{{ absolutePostUrl }}">on {{ siteInfo.title }}</a></footer>{% endset %}
  {% if post.data.stars %}{% set rating %}<p>{% stars post.data.stars, 5 %}</p>{% endset %}{% set rawRating %}{% starsRaw post.data.stars, 5 %} - {% endset %}{% endif %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <author>
      <name>{{ pageInfo.author.name }}</name>
      {% if pageInfo.author.email %}<email>{{ pageInfo.author.email }}</email>{% endif %}
      {% if pageInfo.author.url %}<uri>{{ pageInfo.author.url }}</uri>{% endif %}
    </author>
    <category term="{{ post.data.category | slugify }}"/>
    {% if post.data.tags %}{% for tag in post.data.tags %}{% if tag != post.data.category %}<category term="{{ tag | slugify }}"/>{% endif %}{% endfor %}{% endif %}
    <summary>{{ rawRating }}{% if post.data.credits %}{{ post.data.credits }}: {% endif %}{{ post.data.description }}</summary>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{% if rating %}{{ rating }}{% endif %}
    {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}{{ byline }}</content>
  </entry>
  {%- endfor %}
</feed>
