---
title: "Indie's Eleven"
fullTitle: "Indie's Eleven"
layout: "home.njk"
permalink: /
tocLimit: 5
ogType: "website"
schemaType: "WebSite"
description: "An example site built with the Indie's Eleven starter for Eleventy."
tags:
  - Blogging
  - Eleventy
  - 11ty
  - IndieWeb
---

<p>An example site built with the Indie's Eleven starter for Eleventy. Theme built by {% authorCard authors.KelsonV %}, primary source <a href="https://codeberg.org/kvibber/indies-eleven">on Codeberg</a>. The <a href="README/">README</a> explains more, and the HOWTO documentation begins with <a href="getting-started/">Getting Started</a>.</p>

<p><a href="{{ "/stream" | url }}">All posts as a stream</a></p>

{% include "latest.njk" %}

{% include "categoryToc.njk" %}

