:root {color-scheme: light dark}
body {
	background: #fff; color: #000;
	margin: 3px;
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif
}
@media print, (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio:2) {
	body {font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol}
}

h1, h2, h3, h4, header, footer, aside, .credits, .sources, .latestPosts, .categoryPosts ul, .postslist
{
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif
}

footer nav { text-align: center; margin-bottom: .5em }
footer nav .left { float: left }
footer nav .right { float: right }

h1	{border-bottom: 2px solid #000; margin-top: 0; font-weight: bold; font-size: 1.7em}
.photo h1 {border:none; font-size: 1.25em; margin-top: .5em; margin-bottom: .5em; text-align:center}
h2	{font-weight: bold; font-size: 1.5em}
h3	{font-weight: bold; font-size: 1.2em}

article h2 {border-bottom: 1px solid #999}
.home p, article p, article blockquote, article li {line-height: 1.5}
.comment .p-content {line-height: 1.5; margin-left: 1em}

header nav	{display:inline}
nav.crumbs {margin-top: 1em; margin-bottom: 1em}
nav.crumbs .prev {float:left}
nav.crumbs .next {float:right}
nav.crumbs .done {display: block;clear: both}

header	{
	font-weight: bold;
	line-height: 2;
	padding: 0;
	margin: -3px -3px 1em -3px;
	border-bottom: 3px black solid;
	border-top: 3px black solid;
}
a:link	{color: #00c}
a:visited	{color: #008}
a:active	{color: #8ff}
a:hover	{color: #1495ff}
a.canonical {font-weight: bold}
.commentHeader time { display: block; font-weight:normal; font-size: .66em}

@media (prefers-color-scheme: dark) {
	body {background: #111; color: #fff}
	h1, h2 {border-color: #ccc}
	a:link	{color: #3cf}
	a:visited	{color: #96b}
	a:active	{color: #8ff}
	a:hover	{color: #1495ff}
} 

@media screen {
	header { background-color: #999; color: #fff }
	header a {
		text-decoration: none;
		display: inline-block;
		padding: 0 .5em 0 .5em;
		text-decoration: none;
		border-right: 2px black solid;
		border-left: 2px black solid;
	}
	header a:link, header a:visited {color: #fff; background-color: #666}
	header a:active {color: #fff; background-color: #000}
	header a:hover	{color: #333; background-color: #ccc}
	header .catLink {float: right; margin-left: .5em;}
	.stars {color: #f90}
}

@media screen and (prefers-color-scheme: dark) {
	header { background-color: #666; color: #fff }
header a:link, header a:visited {color: #fff; background-color: #444}
	header a:active {color: #fff; background-color: #000}
	header a:hover	{color: #333; background-color: #ccc}
	header .catLink {float: right; margin-left: .5em;}
}
footer, aside, .postslist .detail, .sources p {font-size: .9em}
.sources {font-style: italic}
.postslist .detail {margin-left: 1em}
footer, .categories {border-top: 1px #333 solid; padding-top: .5em}
footer div {margin-top: 1em; margin-botton: 1em}
.alternates {text-align:right}
main, .home p, .latestPosts {max-width: 40em}
main.home {max-width: 99%}
main.photo {max-width:99%}
main.photo img {max-height: 75vh; width: auto}
main.photo .caption {max-width: 40em; margin-left: auto; margin-right:auto}

main, aside {margin-left: 1em; margin-right: 1em}
.categoryPosts li {margin-bottom: .75em}
.categoryPosts li.morelink {text-align: right; list-style-type: none}

.galleryPic {display: inline-block;
		margin: .5em;
		padding-right: .5em;
		padding-left: .5em;
		vertical-align: top;
		text-align: center;
}
.galleryPic img {max-height: 200px; width: auto}
.galleryPic a {text-decoration: none}

.stream article {margin-bottom: 4em}
.stream article .byline {text-align: right}

img.cover {width: 150px; max-width: 40%; height: auto; margin-bottom: 0.5em}
img.right {float:right; margin-left: 0.5em}
img.left {float:left; margin-right: 0.5em}
img.center {display: block; margin-left: auto; margin-right:auto; max-width:100%; height: auto}
.postslist li {list-style-type: none; margin-bottom: .5em}
.postslist .detail {display: block}


@media screen and (max-width: 46em)  {
	pre {
		overflow-x: auto; 
		max-width:100%;
	}
	/*header a {border-bottom: 2px black solid}*/
	header .subtitle {
		display: block;
		padding: .5em .5em 3px 1em;
		margin-top: 2px;
		text-align: right
	}
}

@media screen and (min-width: 42em)  {
	main {margin-left: auto; margin-right: auto}
	header .subtitle {margin-left: 1em; margin-right: 1em}
	aside.left, aside.right {max-width: 40%; margin-bottom: 1em}
	aside.left {float:left; margin-right: 1em; margin-left:0}
	aside.right {float:right; margin-left: 1em; margin-right:0}

	.categoryPosts {display: inline-block;
		width: 43%;
		margin: .5em;
		padding-right: .5em;
		padding-left: .5em;
		vertical-align: top;
		background: #f7f7f7;
		
	}
	.categoryPosts li {margin-bottom: 1em}
	.categoryPosts a {text-decoration: none}
}
@media screen and (prefers-color-scheme: dark) and (min-width: 600px) {
	.categoryPosts {background: #111}
} 
@media screen and (min-width: 800px)  {
	.categoryPosts {width: 28%}
	aside.right {float:right; width: 20%}
	aside.left {float:left; width: 20%}
}

@media screen and (min-width: 1000px)  {
	.categoryPosts {width: 21%}
}

@media screen and (min-width: 1500px)  {
	.categoryPosts {width: 20em}
}

@media print {
	footer.main, .noprint {display: none}
	a:link, a:visited {color: #000; text-decoration: none}
	header .catLink {float: right; text-align:center; padding: 0; margin-right: -3px}
	abbr {text-decoration: none}
}
