---json
{
  "permalink": "sitemap.xml",
  "eleventyExcludeFromCollections": true,
  "layout": ""
}
---
<?xml version="1.0" encoding="UTF-8"?>
{# GETTING_STARTED: Set how often your home page posts are likely to change (daily,weekly,monthly,yearly) #}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set latestpost = collections.posts | reverse | head(1) %}
  <url>
    <loc>{{ siteInfo.url }}</loc>
    <lastmod>{{ rebuildDate or ( latestpost[0].date | dateToRfc3339 ) }}</lastmod>
    <changefreq>weekly</changefreq>
  </url>
{%- for post in collections.posts | reverse %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(siteInfo.url) }}{% endset %}
  {% if not (post.data.canonical) %}
    <url>
      <loc>{{ absolutePostUrl }}</loc>
      <lastmod>{{ rebuildDate or (post.date | dateToRfc3339 ) }}</lastmod>
      <changefreq>yearly</changefreq>
    </url>
  {% endif %}
{%- endfor %}
</urlset>
