---
pagination:
  data: collections.posts
  alias: posts
  size: 5
  reverse: true
layout: base.njk
showStars: true
eleventyComputed:
  title: "{{ siteInfo.title }} - Page {{ pagination.pageNumber + 1 }}"
permalink: "stream/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
//robots: "noindex, follow"
ogType: "website"
schemaType: "CollectionsPage"
---

<div class="stream h-feed">
{% for post in posts %}
<article class="h-entry">

<h2><a class="u-url p-name" href="{{ post.url | url }}">{{ post.data.title | mdInline | safe }}</a></h2>
{% if post.data.credits %}<p class="credits"><b>{{ post.data.credits | mdInline | safe }}</b></p>{% endif %}
{% if post.data.stars %}<p class="stars">{% stars post.data.stars, 5 %}</p>{% endif %}
<section class="e-content">
{% if post.data.image %} {% image post.data.image, post.data.alt, "100vw", "nolink", "center" %} {% endif %}
{{ post.templateContent | safe }}
</section>
<footer class="byline">
{% set tags=post.data.tags %}{% include "taglist.njk" %}
{% authorCard post.data.pageInfo.author %},
<time class="dt-updated" datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
</footer>
</article>
{% endfor %}


<footer><nav>
<span class="left">
{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first | url }}">First</a>{% else %}First{% endif %}
{% if pagination.href.previous and pagination.pageNumber > 1 %}<a href="{{ pagination.href.previous | url }}">←Previous</a>{% else %}←Previous{% endif %}
</span>

<span class="middle">
{% for pageEntry in pagination.pages %}
{% if loop.index0 == pagination.pageNumber %}
 &#183; <b>Page&nbsp;{{ pagination.pageNumber + 1}}</b>
{% elseif loop.index0 % 10 == 9 and loop.index0 < pagination.pages.length - 10 %}
 &#183; <a href="{{ pagination.hrefs[ loop.index0 ] | url  }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a>
{% endif %}
{% endfor %} &#183;
</span>

<span class="right">
{% if pagination.href.next and pagination.pageNumber < pagination.pages.length - 2 %}<a href="{{ pagination.href.next | url }}">Next→</a>{% else %}Next→{% endif %}
{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last | url }}">Last</a>{% else %}Last{% endif %}
</span>
</nav></footer>

</div>
