---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: tag.njk
showStars: true
showDescriptions: true
eleventyComputed:
  title: "Posts Tagged {{ tag }}"
  fullTitle: "{{ tag }} at {{ siteInfo.title }}"
permalink: /tag/{{ tag | slugify }}/
robots: "noindex, follow"
ogType: "website"
schemaType: "CollectionsPage"
---

{% set postslist = collections[ tag ] | sort (false, false, 'data.title') %}
{% include "postslist.njk" %}

