---
permalink: /tag/
title: Tags
layout: base.njk
robots: noindex
ogType: "website"
schemaType: "CollectionsPage"
---

{% for tag in collections.tagList %}
  {% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
