{% if movedFrom %}<div class="alternates"> {# TODO cleaner way to get this since there should only be one original #}
	Originally at {% for label, link in movedFrom %}{{ label }}.{% endfor %}
</div>{% endif %}

{% if alternates %}<div class="alternates">{% set first=true %}
	Also at: {% for label, link in alternates %}
	{% if first == true %}{% set first = false %}{% else %} &#183; {% endif %}
	{% if link %}
		<a class="u-syndication {% if link == canonical %}canonical{% endif %}" href="{{ link }}">{{ label }}</a> {% if link == canonical %}(Main){% endif %}
	{% else %}{{ label }}{% endif %}
{% endfor %}</div>{% endif %}

