---
ogType: website
schemaType: WebPage
---
<!DOCTYPE html>
<html lang="en-US">
<head>
{% include "head.njk" %}
</head>
<body>
{% include "header.njk" %}

<main>
<h1>{{ title | mdInline }}</h1>

{{ content | safe }}

{% include "footer.njk" %}
</main>

</body>
</html>
