{% if originalDate %}{% set pubDate = originalDate | parseSortableDate %}{% endif %}
{% authorCard pageInfo.author %}
on <a href="{{ siteInfo.domain }}{{ page.url | url }}" class="u-url"><time class="dt-published" datetime="{{ (pubDate or page.date) | isoDate }}">{{ (pubDate or page.date) | readableDate }}</time></a>.
{% if originalDate and not minorUpdate %}Updated <time class="dt-updated" datetime="{{ page.date | isoDate }}">{{ page.date | readableDate }}</time>.{% endif %}
{% if minorUpdate %}Updated <time class="dt-updated" datetime="{{ minorUpdate | parseSortableDate | isoDate }}">{{ minorUpdate | parseSortableDate | readableDate }}</time>.{% endif %}
