<div class="categories">{% for catName, catInfo in categories %}
<section class="categoryPosts">
<h3><span aria-hidden="true">{{ catInfo.emoji }}</span> {{ catInfo.label or catName }}</h3>
{% set cat %}{{ catName | slug }}{% endset %}
{% set posts = collections[cat] %}
{% if tocLimit and posts.length > tocLimit %}
	{% set posts = posts | head(tocLimit - 1) %}
	{% set moreLink %}/{{ cat }}/{% endset %}
{% else %}
	{% set moreLink = '' %}
{% endif %}
<ul>{% for post in posts %}
<li class="h-entry h-review"><a class="u-url p-name" href="{{ post.url | url }}">{{ post.data.title | mdInline }}</a><time class="dt-updated" datetime="{{ post.date | isoDate }}"></time></li>{% endfor %}
{% if moreLink %}<li class="morelink"><a href="{{ moreLink | url }}">more...</a> {% endif %}
</ul>
</section>
{% endfor %}</div>
