{% if comments %}

<div class="content">
<h2>Comments</h2>

{% for comment in comments %}
	{% set timestamp = comment.date | parseSortableDate %}
	{% if comment.cite %}{% set entryType = "h-cite" %}{% else %}{% set entryType = "h-entry" %}{% endif %}
	<div class="comment u-comment {{ entryType }}">
		<h3 class="commentHeader">
			{% if comment.author_url %}
				<a class="u-author h-card" href="{{ comment.author_url }}">{{comment.author}}</a>
			{% else %}
				{{ comment.author }}
			{% endif %}
			{% if comment.cite %}
				<a class="u-url" href="{{ comment.cite }}"><time class="dt-published" datetime="{{ timestamp | isoDate }}">{{ timestamp | readableDate }}</time></a>
			{% else %}
				<time class="dt-published" datetime="{{ timestamp | isoDate }}">&#8212;{{ timestamp | readableDate }}</time>
			{% endif %}
		</h3>
		<div class="p-content">
			{{ comment.content | markdownRender | safe }}
		</div>
	</div>
    {% endfor %}
</div>
{% endif %}

