<footer class="main noprint">
<a href="/">Home</a> &#183;

{# Contact links for the page author or, if there isn't one, the site author.
TODO explain inheritance setup #}

{% if ogType == 'article' %}
{% set mailSubject %}?subject={{ ("Re: " + title) | urlEncodePart }}{% endset %}
Contact:
{% else %}
Contact <a class="p-author h-card" rel="author" href="{{ pageInfo.author.url }}">{{ pageInfo.author.name }}</a> at
{% endif %}

{% if pageInfo.author.blog %}
	<a href="{{ pageInfo.author.blog }}" title="{{ pageInfo.author.blog }}">Blog</a> &#183;
{% endif %}

{% if pageInfo.author.twitter %}
	<a href="https://twitter.com/{{ pageInfo.author.twitter }}" title="@{{ pageInfo.author.twitter }}">Twitter</a> &#183;
{% endif %}

{% if pageInfo.author.facebook %}
	<a href="https://www.facebook.com/{{ pageInfo.author.facebook }}" title="{{ pageInfo.author.facebook }}">Facebook</a> &#183;
{% endif %}

{% if pageInfo.author.linkedin %}
	<a href="https://linkedin.com/in/{{ pageInfo.author.linkedin }}" title="{{ pageInfo.author.linkedin }}">LinkedIn</a> &#183;
{% endif %}

{% if pageInfo.author.mastodon %}
	<a href="https://{{ pageInfo.author.mastodon.host }}/@{{ pageInfo.author.mastodon.name }}" title="@{{ pageInfo.author.mastodon.name }}@{{ pageInfo.author.mastodon.host }}">Mastodon</a> &#183;
{% endif %}

{% if pageInfo.author.pixelfed %}
	<a href="https://{{ pageInfo.author.pixelfed.host }}/{{ pageInfo.author.pixelfed.name }}" title="@{{ pageInfo.author.pixelfed.name }}@{{ pageInfo.author.pixelfed.host }}">Pixelfed</a> &#183;
{% endif %}

{% if pageInfo.author.fediverse %}
	<a href="{{ pageInfo.author.fediverse.url }}" title="@{{ pageInfo.author.fediverse.name }}">Fediverse</a> &#183;
{% endif %}

{% if pageInfo.author.email or siteInfo.email %} <a href="mailto:{{ pageInfo.author.email or siteInfo.email }}{{ mailSubject }}">Email</a>{% endif %}
</footer>

