<div class="h-feed">{% for photo in gallery %}
<section class="h-entry galleryPic">
<a class="u-url" href="{{ photo.url | url }}">{% if photo.data.image %}{% image photo.data.image, photo.data.alt, "10em", "nolink" %}<br/>{% endif %}
{{photo.data.title}}</a>
</section>
{% endfor %}</div>
