<meta charset="UTF-8" />
{% if robots %}<meta name="robots" content="{{ robots }}" />{% endif %}
<meta name="viewport" content="width=device-width" />
<title>{{ (fullTitle or title) | mdInline | safe }}</title>
<link rel="stylesheet" href="{{ '/indie.css' | url }}" type="text/css" />
<meta name="generator" content="{{ eleventy.generator }}">

<link rel="alternate home" href="{{ siteInfo.url }}feed.xml" type="application/atom+xml" title="{{ siteInfo.title }}: New Post Feed" />
<link rel="icon" href="{% siteIcon siteInfo.icon, 32 %}" sizes="32x32" />
<link rel="icon" href="{% siteIcon siteInfo.icon, 192 %}" sizes="192x192" />
<link rel="apple-touch-icon" href="{% siteIcon siteInfo.icon, 180 %}" />
<meta name="msapplication-TileImage" content="{% siteIcon siteInfo.icon, 270 %}" />
{{ head | safe }}

{% if siteInfo.search.action and siteInfo.search.addToQuery %}
<script type="text/javascript">
function queryAdd() {
	document.getElementById("11tyHeaderSearch").value += " {{ siteInfo.search.addToQuery }}";
	return true;
}
</script>
{% endif %}
