<header><nav>
<a href="/" title="Home" aria-label="Home" rel="top">🏠</a>
<a class="catLink" href="{{ siteInfo.url }}feed.xml" title="New Posts Feed" arial-label="New Posts Feed"><span class="emoji">📡</span></a>

{% if siteInfo.search.action %}
	{% set searchField %}{{ siteInfo.search.fieldName or 'q' }}{% endset %}
<form class="catLink" name="headerSearch" action="{{ siteInfo.search.action | url }}" {% if siteInfo.search.addToQuery %}onSubmit="queryAdd();"{% endif %}><input id="11tyHeaderSearch" type="text" name="{{ searchField }}" placeholder="Search" size="10"/><input class="emoji" type="submit" value="🔍"></form>
{% elseif siteInfo.search.link %}
<a class="catLink" href="{{ siteInfo.search.link | url }}" title="Search" aria-label="Search"><span class="emoji">🔍</span></a>
{% endif %}
{% if previousPost or nextPost or main %}<span class="catLink">
	{% if previousPost %}<a rel="prev" href="{{ previousPost.url | url }}" title="Previous" aria-label="Previous">←</a>{% endif %}
	{% if main %}<a rel="up" href="{{ "./" | url }}" title="Table of Contents" aria-label="Table of Contents">ToC</a>{% endif %}
	{% if nextPost %}<a rel="next" href="{{ nextPost.url | url }}" title="Next" aria-label="Next">→</a>{% endif %}
</span>{% endif %}
{% if pagination %}<span class="catLink">
	{% if pagination.href.previous %}<a rel="prev" href="{{ pagination.href.previous | url }}" title="Previous" aria-label="Previous">←</a>{% endif %}
	{% if pagination.href.next %}<a rel="next" href="{{ pagination.href.next | url }}" title="Next" aria-label="Next">→</a>{% endif %}
</span>{% endif %}



{% if category %}
{% set catUrl %}/{{ category | slugify }}/{% endset %}
<a class="catLink" href="{{ catUrl | url}}">{{ category }} <span class="emoji" aria-hidden="true">{{ categories[category].emoji }}</span></a>
{% else %}
<a class="catLink" href="{{ "/categories/" | url}}">Categories</a>
{% endif %}{% if layout == 'home.njk' %}{% set titleClass %} class="p-name"{% endset %}{% endif %}
<a href="{{ '/' | url }}"{{ titleClass | safe }}>{{ siteInfo.title }}</a></nav>
</header>
