---
ogType: website
schemaType: WebSite
---
<!DOCTYPE html>
<html lang="en-US">
<head>
{% include "head.njk" %}
{% include "meta.njk" %}
</head>

<body class="h-feed">
{% include "header.njk" %}

<main class="home">
{{ content | safe }}
<span class="done"></span>
{% include "footer.njk" %}
</main>
</body>
</html>
