{% if (collections.latest.length > 0) %}
	<section class="latestPosts">
	<h3>Latest</h3>
	{% set latestCount = latestCount or 3 %}
	{% set showStars = true %}
	{% set showDescriptions = true %}
	{% set showDate = true %}
	{% set postslist = collections.latest | reverse | head(latestCount)%}
	{% include "postslist.njk" %}
	</section>
{% endif %}
