{% if mentions %}

<div class="content">
<h2>Mentions</h2>

{% for mention in mentions %}
	{% set timestamp = mention.date | parseSortableDate %}
	{% if mention.cite %}{% set entryType = "h-cite" %}{% else %}{% set entryType = "h-entry" %}{% endif %}
	{% set timeTag %}<time class="dt-published" datetime="{{ timestamp | isoDate }}">{% endset %}
	{% set visibleDate = timestamp | readableDate %}
	<div class="comment u-comment {{ entryType }}">
		<h3 class="commentHeader">
			{% if mention.author_url %}
				<a class="u-author h-card" href="{{ mention.author_url }}">{{mention.author}}</a>
			{% else %}
				{{ mention.author }}
			{% endif %}
			{% if mention.author and mention.title %}:{% endif %}
			{% if mention.cite %}
				<a class="u-url" href="{{ mention.cite }}">{% if mention.title %}{{ mention.title }}{% else %}{{ timeTag | safe }}{{ visibleDate }}</time>{% endif %}</a>
			{% endif %}
			{% if mention.title or not mention.cite %}			
				{{ timeTag | safe }}&#8212;{{ visibleDate }}</time>
			{% endif %}
		</h3>
		{% if mention.excerpt %}
		<blockquote class="p-content">
			{{ mention.excerpt | markdownRender | safe }}
		</blockquote>{% endif %}
		{% if mention.content %}
		<div class="p-content">
			{{ mention.content | markdownRender | safe }}
		</div>{% endif %}
	</div>
    {% endfor %}
</div>
{% endif %}

