{# Pre-processing and defaults #}
{% if image %}
	{% set imageUrl %}/{{ image }}{% endset %}
	{% set imageSquare %}/{{ image }}{% endset %}
	{% set twitterCardType %}summary_large_image{% endset %}
{% else %}
	{% set imageUrl %}{{ siteInfo.banner }}{% endset %}
	{% set imageSquare %}{{ siteInfo.icon }}{% endset %}
	{% set twitterCardType %}summary{% endset %}
{% endif %}
{% if category %}{% set aboutSchemaType %}{{ aboutSchemaType or categories[category].aboutSchemaType or 'CreativeWork' }}{% endset %}{% endif %}
{% set pubDate = page.date %}
{% if originalDate %}
	{% set pubDate = originalDate | parseSortableDate %}
	{% set modifiedDate = page.date %}
	{% else %}{% if minorUpdate %}
		{% set modifiedDate = minorUpdate | parseSortableDate %}
	{% endif %}
{% endif %}
{% set metaTitle %}{{ fullTitle or title }}{% endset %}
{% if schemaType == "Review" and not fullTitle %}{% set metaTitle %}{{ title }} - Review{% endset %}{% endif %}
{% if not canonical %}{% set canonical %}{{ siteInfo.domain }}{{ page.url | url }}{% endset %}{% endif %}

{# Standard and reusable. Could also include link rel=author but we have that in the body templates #}
<link rel="canonical" href="{{ canonical }}" />
<meta name="author" content="{{ pageInfo.author.name }}" />
{% if description %}<meta property="og:description" name="description" content="{{ description }}" />{% endif %}

{# OpenGraph / Twitter #}
<meta property="og:type" content="{{ ogType }}" />
{% if metaTitle != title %}<meta property="og:title" content="{{ metaTitle | mdInline  }}" />{% endif %}
<meta property="og:image" content="{{ siteInfo.domain }}{{ imageUrl | url }}" />
{% if alt %}<meta property="og:image:alt" content="{{ alt }}" />{% endif %}

{# Fediverse Byline #}
{% if pageInfo.author.fediverse %}
	<meta name="fediverse:creator" content="@{{ pageInfo.author.fediverse.name }}" />
{% elseif pageInfo.author.mastodon %}
	<meta name="fediverse:creator" content="@{{ pageInfo.author.mastodon.name }}@{{ pageInfo.author.mastodon.host }}" />
{% elseif pageInfo.author.pixelfed %}
	<meta name="fediverse:creator" content="@{{ pageInfo.author.pixelfed.name }}@{{ pageInfo.author.pixelfed.host }}" />
{% endif %}

{# OpenGraph Only. og:url shouldn't be needed since we have canonical. #}
<meta property="og:site_name" content="{{ siteInfo.title }}" />
{% if ogType == 'article' %}
	<meta property="article:author" content="{{ pageInfo.author.url }}" />
	<meta property="article:published_time" content="{{ pubDate | isoDate }}" />
	{% if modifiedDate %}<meta property="article:modified_time" content="{{ modifiedDate | isoDate }}" />{% endif %}
	{% if category %}<meta property="article:section" content="{{ category }}" />{% endif %}
	{% for tag in tags %}<meta property="article:tag" content="{{ tag }}" />{% endfor %}
	{% if schemaType == "Review" %}<meta property="article:tag" content="Reviews" />{% endif %}
{% endif %}

{# Twitter-Specific. The site's handle is required, so if we don't have one, don't build the card. #}
{% if (siteInfo.twitter) %}
	<meta name="twitter:site" content="{{ siteInfo.twitter }}" />
	<meta name="twitter:card" content="{{ twitterCardType }}" />
	{% if imageSquare != imageUrl %}<meta name="twitter:image" content="{{ siteInfo.domain }}{{ imageSquare | url }}" />{% endif %}
	{% if pageInfo.author.twitter %}<meta name="twitter:creator" content="{{ pageInfo.author.twitter }}" />{% endif %}
{% endif %}

{# Schema.org #}
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "{{ schemaType }}",
  {# TODO generalize which types have headlines/names, which types have publishing dates, etc. #}
  {% if schemaType == "Review" or schemaType == "Article" or schemaType == "TechArticle" %}"headline"{% else %}"name"{% endif %}: "{{ metaTitle | mdInline }}",
  "author" : {
    "@type" : "Person",
    "name" : "{{ pageInfo.author.name }}",
    "url" : "{{ pageInfo.author.url }}"
  },

"datePublished" : "{{ pubDate | isoDate}}",
  {% if modifiedDate %}"dateModified": "{{ modifiedDate | isoDate }}",{% endif %}

  {% if schemaType == "Review" %}
	  "itemReviewed" : {
	  	"@type" : "{{ aboutSchemaType }}",
	  	{% if location %}"location" : "{{ location }}", {% endif %}
	  	{% if eventDate %}"startDate" : "{{ eventDate }}", {% endif %}
	  	{% if address %}"address": {
  			"@type": "PostalAddress",
			"streetAddress": "{{ address.street }}",
  			"addressLocality": "{{ address.city }}",
  			"addressRegion": "{{ address.state }}",
  			"postalCode": "{{ address.zipCode }}",
			"addressCountry": "{{ address.country }}"
			},{% endif %}
		{% if geo %}"geo": {
			"@type": "GeoCoordinates",
			"latitude": {{ geo.lat }},
			"longitude": {{ geo.long }}
		      },{% endif %}
	  	{% if creditsList %}"author": [
			{% set first=true %}{% for name, link in creditsList %}
				{% if first == true %}{% set first = false %}{% else %},{% endif %}
				{
					"@type": "Person",
		  			{% if link %}"url": "{{ link }}",{% endif %}
		  			"name": "{{ name }}"
				}
			{% endfor %}
			],
		{% elseif credits %}"author": {
			"@type": "Person",
			"name": "{{ credits }}"
			},
		{% endif %}	
		{% if aboutUrl %}"url": "{{ aboutUrl }}",
	  	{% elseif wikidata %} "url": "https://www.wikidata.org/wiki/{{ wikidata }}", 
	  	{% endif %}
		"name" : "{{ title }}"
	  },
	  {% if stars %} "reviewRating": {
		"@type": "Rating",
		"bestRating": "5",
		"ratingValue": "{{ stars }}",
		"worstRating": "1"
      	  },{% endif %}
  {% endif %}
  {% if description %}"description": "{{ description }}",{% endif %}
  "keywords": "{% if tags %}{{ tags }},{% endif %}{%if category %}{{ category }}{% endif %}",
  "image" : [ "{{ siteInfo.domain }}{{ imageUrl | url }}" {% if imageSquare != imageUrl %}, "{{ siteInfo.domain }}{{ imageSquare | url }}" {% endif %} ]
}
</script>

