{% if (previousPost or nextPost) %}
	<nav class="crumbs">
	{% if previousPost %}<span class="prev" rel="prev">Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title | mdInline }}</a></span>{% endif %}
	{% if nextPost %}<span class="next" rel="next">Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title | mdInline }}</a></span>{% endif %}
	<span class="done"></span>
	</nav>
{% endif %}
