---
ogType: article
schemaType: SocialMediaPost
title: "TODO Calculate Note Titles"
---
<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns# article: http://ogp.me/ns/article#">
<head>
{# TODO find a way to put this in front matter since eleventyComputed doesn't have access to the page content #}
{% set title %}{{ (description or content) | headWords(10)}}{% endset %}
{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}
{% include "head.njk" %}
{% include "meta.njk" %}
</head>

<body class="h-entry h-as-note">

{% include "header.njk" %}
<main>

<article>
<div class="e-content">
{{ content | safe }}
</div>

<footer>
{% include "byline.njk" %}

</footer>
<span class="done"></span>
</article>

</main>

</body>
</html>
