---
ogType: article
schemaType: Photograph
---
<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns# article: http://ogp.me/ns/article#">
<head>
{% set title %}{{ title or ( (description or content) | headWords(10) )}}{% endset %}
{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}
{% include "head.njk" %}
{% include "meta.njk" %}
</head>

<body class="h-entry">

{% include "header.njk" %}
<main class="photo">

<article>
<div class="e-content">
<h1 class="p-name">{{ title | mdInline | safe }}</h1>
{% image image, alt, "100vw", "nolink", "center" %}
<div class="caption">
{{ content | safe }}
</div>
</div>

<footer>
{% include "byline.njk" %}

{% include "taglist.njk" %}

{% include "alternates.njk" %}

{% include "related.njk" %}

{% include "nav.njk" %}
</footer>
<span class="done"></span>

</article>

{% include "comments.njk" %}
{% include "mentions.njk" %}

{% include "footer.njk" %}
</main>

</body>
</html>
