<ul class="postslist">
{% for post in postslist %}
  <li class="h-entry h-review"><a class="u-url p-name" href="{{ post.url | url }}">{{ ( post.data.title or (post.templateContent | headWords(10) ) )| mdInline }}</a>
  <span class="detail">
  {% if showStars and post.data.stars %}<span class="stars">{% stars post.data.stars, 5 %}</span>{% endif %}
  {% if post.data.credits %}{{ post.data.credits | mdInline | safe }}<br/>{% endif %}
  {% if post.data.venue %}{{ post.data.venue | mdInline | safe }}<br/>{% endif %}
  {% if showDescriptions and post.data.description %}<span class="p-summary">{{ post.data.description | mdInline | safe }}</span>{% endif %}
  <time class="dt-updated" datetime="{{ post.date | isoDate }}">{% if showDate %}({{ post.date | readableDate }}){% endif %}</time></span></li>
{% endfor %}
</ul>
