{% if related %}<div class="alternates">{% set first=true %}
	Related pages: {% for label, link in related %}
	{% if first == true %}{% set first = false %}{% else %} &#183; {% endif %}
	<a href="{{ link }}">{{ label }}</a>
{% endfor %}
</div>{% endif %}

