---
ogType: 'article'
schemaType: 'Review'
---
<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns# article: http://ogp.me/ns/article#">
<head>
{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}
{% include "head.njk" %}
{% include "meta.njk" %}
</head>

<body class="h-entry h-review">

{% include "header.njk" %}

<main>
<article>
<h1 class="p-name">{{ title | mdInline }}</h1>

<div class="e-content">
{% if subTitle %}<p class="credits"><b>{{ subTitle | mdInline | safe }}</b></p>{% endif %}
{% if credits %}<p class="credits"><b>{{ credits | mdInline | safe }}</b></p>{% endif %}
{% if stars %}<p class="stars">{% stars stars, 5 %}</p>{% endif %}
{% if venue %}<p class="credits"><b>{{ venue | mdInline | safe }}</b></p>{% endif %}
{{ content | safe }}
</div>

{% include "sources.njk" %}

<footer>
Reviewed by {% include "byline.njk" %}

{% include "taglist.njk" %}

{% include "alternates.njk" %}

{% include "related.njk" %}

{% include "nav.njk" %}
</footer>
<span class="done"></span>
</article>

{% include "comments.njk" %}
{% include "mentions.njk" %}

{% include "footer.njk" %}
</main>

</body>
</html>
