{% if category %}{% set aboutMicroformatType %}{{ aboutMicroformatType or categories[category].microformatType or 'h-item' }}{% endset %}{% endif %}
{% if aboutMicroformatType == 'h-geo' and address %}{% set aboutMicroformatType = 'h-card' %}{% endif %}
<div class="sources p-item {{ aboutMicroformatType }}">
{% if aboutUrl %}<p><b>More info at</b> <a class="u-url p-name" href="{{ aboutUrl | url }}">{{ title }}</a>.</p>{% else %}<data class="p-name" value="{{ title }}"></data>{% endif %}
{% if sources %}<p><b>Available from</b> {% set first=true %}{% for source, sourceUrl in sources %}{% if first == true %}{% set first = false %}{% else %},{% endif %}
      <a href="{{ sourceUrl | url }}">{{ source }}</a>{% endfor %}.</p>{% endif %}
{% if address %}
<p><b>Located at</b> <span class="p-street-address">{{ address.street }}</span> – <span class="p-locality">{{ address.city }}</span>, <span class="p-region">{{ address.state }}</span> <span class="p-postal-code">{{ address.zipCode }}</span> <span class="p-country-name">{{ address.country or 'US' }}</span></p>
{% endif %}

{% if osmWay %}
<p><a href="https://www.openstreetmap.org/way/{{ osmWay }}">View on OpenStreetMap</a>.</p>
{% elseif osmNode %}
<p><a href="https://www.openstreetmap.org/node/{{ osmNode }}">View on OpenStreetMap</a>.</p>
{% elseif geo %}
<p><a href="https://www.openstreetmap.org/#map=18/{{ geo.lat }}/{{geo.long}}">View on OpenStreetMap</a>.</p>
{% endif %}
</div>
