<div class="h-feed stream">{% for post in stream %}
<section class="h-entry">
{% if post.data.title %}
<h2 class="p-name"><a class="u-url" href="{{ post.url | url }}">{{post.data.title}}</a></h2>
{% endif %}
{% if post.data.image %}
<a class="u-url" href="{{ post.url | url }}">{% image post.data.image, post.data.alt, "40em", "nolink", "center" %}</a>
{% endif %}
{{ post.templateContent | safe }}
<footer>
— <time class="dt-published" datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
</footer>
</section>
{% endfor %}</div>
