---
ogType: website
schemaType: CollectionPage
---
<!DOCTYPE html>
<html lang="en-US">
<head>
{% include "head.njk" %}
{% include "meta.njk" %}
</head>
<body class="h-feed">
{% include "header.njk" %}

<main>
<h1 class="p-name">{{ title | mdInline }}</h1>

<section>
{{ content | safe }}
</section>

{% include "footer.njk" %}
</main>

</body>
</html>
