{% if tags %}
<div>Tagged: {% for tag in tags.sort() %}
      {% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
      {% if tags.indexOf(tag) > 0 %}&#183;{% endif %}
      {% if collections[tag].length > 1 %}
      <a href="{{ tagUrl | url }}" class="p-category">{{ tag }}</a>
      {% else %}<span class="p-category">{{ tag }}</span>{% endif %}
    {% endfor %}</div>
{% endif %}
